<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Person Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="text-align: center">
    <h3>Hello, {{name}}!</h3>
    <h1>Welcome to Person Service</h1>
</div>
</body>
</html>
